[submodule "_build/tools/vcpkg"]
	path = _build/tools/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "packs/rats/libs/stringzilla/sz"]
	path = packs/rats/libs/stringzilla/sz
	url = https://github.com/ashvardanian/StringZilla.git
	branch = main
[submodule "packs/rats/libs/ryml/ryml"]
	path = packs/rats/libs/ryml/ryml
	url = https://github.com/biojppm/rapidyaml.git
	branch = master
