[submodule "_build/tools/vcpkg"]
	path = _build/tools/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "packs/rats/libs/rapidyaml/ryml"]
	path = packs/rats/libs/rapidyaml/ryml
	url = https://github.com/biojppm/rapidyaml.git
	branch = master
